.imgCard {
    max-height: 170px;
}

.card {
    max-width: 340px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.li {
    list-style: none;
}